<template>
  <q-layout>
    <div slot="header" class="toolbar" v-show="showTag">
      <!-- opens drawer below
          <button class="hide-on-drawer-visible" @click="$refs.drawer.open()">
            <i>menu</i>
          </button>
          -->
      <q-toolbar-title :padding="1">
        ЦОК
      </q-toolbar-title>
    </div>
  
    <q-tabs slot="navigation" v-show="showTag">
      <q-tab route="/tablo" exact>Табло</q-tab>
      <q-tab route="/1" exact replace>Окно 1</q-tab>
      <q-tab route="/2" exact replace>Окно 2</q-tab>
      <q-tab route="/3" exact replace>Окно 3</q-tab>
      <q-tab route="/4" exact replace>Окно 4</q-tab>
      <q-tab route="/5" exact replace>Окно 5</q-tab>
    </q-tabs>
  
    <!-- Drawer
        <q-drawer ref="drawer">
          <div class="toolbar">
            <q-toolbar-title>
              Drawer Title
            </q-toolbar-title>
          </div>
    
          <div class="list no-border platform-delimiter">
            <q-drawer-link icon="mail" :to="{path: '/', exact: true}">
              Link
            </q-drawer-link>
          </div>
        </q-drawer>
        -->
  
    <router-view :windows="windows" @input="childInput" @tablo="setTagShow" class="layout-view"></router-view>
  
    <!-- Footer
        <div slot="footer" class="toolbar"></div>
        -->
  </q-layout>
</template>

<script>
const Nes = require('nes/client')

const client = new Nes.Client('ws://127.0.0.1:3000')
// window.client = client



export default {
  data() {
    return {
      windows: [
        {
          number: 1,
          state: 'nowork'
        },
        {
          number: 2,
          state: 'nowork'
        },
        {
          number: 3,
          state: 'nowork'
        },
        {
          number: 4,
          state: 'nowork'
        },
        {
          number: 5,
          state: 'nowork'
        }
      ],
      showTag: true
    }
  },

  mounted() {

    const self = this

    client.connect((err) => {

      if (err) {
        console.error(err)
      }

      client.onUpdate = function (message) {
        self.windows = message
    }
    })
  },
  methods: {
    childInput(msg) {
      client.message(msg)
    },

    setTagShow(msg) {
      this.showTag = msg
    }
  }
}
</script>

<style>

</style>
