<template>
  <q-layout>
    <!--<div slot="header" class="toolbar">
            <q-toolbar-title :padding="0">
              Центр обслуживания клиентов МП Калининградтеплосеть
            </q-toolbar-title>
          </div>-->
  
    <!--
                Replace following "div" with
                "<router-view class="layout-view">" component
                if using subRoutes
              -->
  
    <div class="layout-view">
      <!--<div class="layout-padding">-->
      <div v-for="window in windows">
        <div class="row vacantRow" v-if="window.state === 'vacant'">
          <div class="width-2of5">
            <h1 class="pull-left vacant">ОКНО {{window.number}}</h1>
          </div>
          <div class="width-3of5">
            <h1 class="pull-right vacantBold">СВОБОДНО</h1>
          </div>
        </div>
        <div class="row occupiedRow" v-if="window.state === 'occupied'">
          <div class="width-2of5">
            <h1 class="pull-left occupied">ОКНО {{window.number}}</h1>
          </div>
          <div class="width-3of5">
            <h1 class="pull-right occupiedBold">ЗАНЯТО</h1>
          </div>
        </div>
        <div class="row noworkRow" v-if="window.state === 'nowork'">
          <div class="width-2of5">
            <h1 class="pull-left nowork">ОКНО {{window.number}}</h1>
          </div>
          <div class="width-3of5">
            <h1 class="pull-right noworkBold">НЕ РАБОТАЕТ</h1>
          </div>
        </div>
      </div>
      <!--</div>-->
    </div>
  </q-layout>
</template>

<script>


export default {
  props: ['windows'],
  data() {
    return {
      // windows: [
      //   {
      //     number: 1,
      //     state: 'nowork'
      //   },
      //   {
      //     number: 2,
      //     state: 'nowork'
      //   },
      //   {
      //     number: 3,
      //     state: 'nowork'
      //   },
      //   {
      //     number: 4,
      //     state: 'nowork'
      //   },
      //   {
      //     number: 5,
      //     state: 'nowork'
      //   }
      // ]
    }
  },
  computed: {

  },
  methods: {

  },
  mounted() {
    
    this.$emit('tablo', false)
  },
  beforeDestroy() {
    this.$emit('tablo', true)
  }
}
</script>

<style>
.vacant {
  font-weight: 300;
  font-size: 10vh;
  color: green;
  margin-left: 5vw;
}

.vacantBold {
  font-weight: 600;
  font-size: 10vh;
  color: green;
  margin-right: 5vw;
}

.vacantRow {
  background-color: #C9FFD1;
  height: 20vh;
  border-bottom: 1px solid black;
}

.occupied {
  font-weight: 300;
  font-size: 10vh;
  color: darkred;
  margin-left: 5vw;
}

.occupiedBold {
  font-weight: 600;
  font-size: 10vh;
  color: darkred;
  margin-right: 5vw;
}

.occupiedRow {
  background-color: #FFC9C9;
  height: 20vh;
  border-bottom: 1px solid black;
}

.nowork {
  font-weight: 300;
  font-size: 10vh;
  color: dimgrey;
  margin-left: 5vw;
}

.noworkBold {
  font-weight: 600;
  font-size: 10vh;
  color: dimgrey;
  margin-right: 5vw;
}

.noworkRow {
  background-color: #E8E8E8;
  height: 20vh;
  border-bottom: 1px solid black;
}
</style>
