<template>
  <!-- root node required -->
  <div>
    <!-- your content -->
    <div class="layout-padding">
      <!--<p>{{windows}}</p>-->
      <div class="column group">
        <label class="text-tertiary">
          <q-radio v-model="option" val="nowork" class="tertiary" @input="getSelectedOption"></q-radio>
          Не работает
        </label>
        <label class="text-positive">
          <q-radio v-model="option" val="vacant" class="positive" @input="getSelectedOption"></q-radio>
          Свободно
        </label>
        <label class="text-negative">
          <q-radio v-model="option" val="occupied" class="negative" @input="getSelectedOption"></q-radio>
          Занято
        </label>
      </div>
      <!-- if you want automatic padding -->
    </div>
  </div>
</template>

<script>
export default {
  props: ['windows'],
  data() {
    return {
    }
  },
  computed: {
    option() {
      let returnValue
      this.windows.forEach((element) => {
        if (element.number === 1) {
          returnValue = element.state
        }
      })

      return returnValue
    }
  },
  mounted() {
  
  },
  methods: {
    getSelectedOption(msg) {
      let _window = {
        number: 1,
        state: msg
      }
      this.$emit('input', _window)
    }
  }
}
</script>

<style>

</style>
